{% extends "layout.html" %}

{% block content %}
<!--- Buttons -->
<!--<div class="container-fluid padding">
	<div class=" text-center col-12">
		<a class="btn btn-warning float-left" href="/database" role="button">Edit Database</a>
		<button type="button" class="btn btn-light float-left" target="_blank">Select All</button>
		<button type="button" class="btn btn-light float-right" target="_blank">Choose From 2</button>

	</div>
</div>-->
<div class="container-fluid padding">
	<div class="row clearfix text-center">
		<div class="col-sm">
		  <button class="select"> </button>
		</div>
		<div class="col-sm">
		  <h1>select your photo</h1>
		</div>
		<div class="col-sm">
		  <button class="send " data-counter="0">✔</button>
		</div>
	</div>
</div>

<!--- Cards -->

{% block scripts %}
<script src="{{url_for('.static', filename='script.js')}}"></script>
{% endblock %}


<div class="container-fluid padding">
	<div class="welcome row text-center padding">
		<div class="card-deck">
			{% for option in food_options %}
			<div class="col-xl-3 col-lg-4 col-md-6">
				<div class="card">
					<div class="option view overlay">
						<img class="card-img-top img-fluid" src="{{ option.image }}" alt="Image of {{ option.name }}">
						<div class="mask rgba-red-strong flex-center">
							<p class="display-1 white-text">+</p>
						</div>
					</div>

					<div class="card-body">
						<h4 class="card-title">{{ option.name }}</h4>
						<p class="card-text">Tag: {{ option.tag }}</p>
						<a href="{{ option.url}}" add target="_blank" class="btn btn-outline-secondary">Go To Website</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<!-- Add the Generate Button -->
<div class="container-fluid padding">
	<div class="text-center">
		<div class="col-12">
			<button type="button" class="btn peach-gradient generate-quiz-btn">Generate Tournament</button>
			<button type="button" class="btn peach-gradient generate-quiz-btn">Choose From 3</button>
		</div>
	</div>
</div>
{{super()}}
{% endblock %}